<h3 class="panel-title">
  <span class="font-weight-normal">
    <i class="fas fa-home fa-fw"></i>
    <a href="/admin">{{_ 'Admin'}}</a>
  </span>

  <i class="fas fa-chevron-right fa-fw text-gray"></i>

  <i class="fas fa-cogs"></i>
  {{_ 'Authentication Settings'}}
</h3>

<div class="panel-body overflow-auto">
  <form method="post">
    <div class="row">
      <div class="col-md-6">
        {{> settings_auth}}
      </div>
      <div class="col-md-6">
        {{> settings_captcha}}
      </div>
    </div>
    {{> settings_services}}
    <div class="form-group form-group-submit">
      <div class="form-field">
        <button class="btn btn-secondary btn-block">{{_ 'Save'}}</button>
      </div>
    </div>
  </form>
</div>
