<h3 class="panel-title">
  <span class="font-weight-normal">
    <i class="fas fa-home fa-fw"></i>
    <a href="/admin">{{_ 'Admin'}}</a>
  </span>

  <i class="fas fa-chevron-right fa-fw text-gray"></i>

  <i class="fas fa-cogs"></i>
  {{_ 'Authentication Settings'}}
</h3>

<div class="panel-body overflow-auto">
  <form class="row" method="post">
    <div class="col-md-5">
      {{> settings_facebook}}
      <hr />
      {{> settings_twitter}}
      <hr />
      {{> settings_linkedin}}
      <hr />
      {{> settings_google}}
      <hr />
      {{> settings_captcha}}
      <hr />
      {{> settings_auth}}
      <div class="form-group form-group-submit">
        <div class="form-field">
          <button class="btn btn-secondary btn-block">{{_ 'Save'}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
