<!-- START: Auth Forgot Page -->
<div class="layout-blank layout-auth-form">
  <!-- START: Auth Forgot Card -->
  <div class="card" >
    <!-- START: Panel Body -->
    <div class="card-body">
      <!-- START: Card Title -->
      <h5 class="card-title">{{_ 'Forgot Password'}}</h5>
      <!-- END: Card Title -->
      <!-- START: Auth Forgot Form -->
      <form method="post">
        <p class="mb-4">{{_ 'Please enter the username, email address or mobile phone you used to register with this site and we will contact you send you a code to reset your password.'}}</p>
        <!-- START: Auth Slug -->
        <div class="form-group{{#if errors.auth_slug}} has-error{{/if}}">
          {{{field
            type="text"
            name="auth_slug"
            placeholder="Username, email address or phone number"
            value=item.auth_slug
          }}}
          {{#if errors.auth_slug}}
            <div class="help-text text-left">{{errors.auth_slug}}</div>
          {{/if}}
        </div>
        <!-- END: Auth Slug -->
        <!-- START: Login -->
        <div class="form-group">
          <a title="Sign In" href="/auth/signin?{{query}}">{{_ 'Wait, I Remember It Now.'}}</a>
        </div>
        <!-- END: Login -->
        {{#if captcha}}
          <!-- START: Captcha -->
          <div class="form-group{{#if errors.captcha}} has-error{{/if}}">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
            {{#if errors.captcha}}
            <span class="help-text">{{errors.captcha}}</span>
            {{/if}}
          </div>
          <!-- END: Captcha -->
        {{/if}}
        <!-- START: Form Submit -->
        <div class="form-group">
          <input type="hidden" name="csrf" value="{{csrf}}" />
          <button
            class="btn btn-block btn-primary"
            data-do="submit-once"
            data-on="click"
            role="submit"
          >{{_ 'Submit'}}</button>
        </div>
        <!-- END: Form Submit -->
      </form>
      <!-- END: Auth Forgot Form -->
    </div>
    <!-- END: Panel Body -->
  </div>
  <!-- END: Auth Forgot Panel -->
</div>
<!-- END: Auth Forgot Page -->
