<!-- START: Auth Recover Page -->
<div class="layout-blank layout-auth-form">
  <!-- START: Auth Recover Card -->
  <div class="card" >
    <!-- START: Panel Body -->
    <div class="card-body">
      <!-- START: Card Title -->
      <h5 class="card-title">{{_ 'Change Password'}}</h5>
      <!-- END: Card Title -->
      <!-- START: Auth Recover Form -->
      <form method="post">
        <!-- START: Current Password -->
        <div class="form-group{{#if errors.current_password}} has-error{{/if}}">
          <label class="d-block text-left" for="current_password">{{_ 'Current Password'}}</label>
          {{{field
            type="password"
            name="current_password"
            placeholder="Password"
          }}}
          {{#if errors.current_password}}
            <div class="help-text d-block text-left">{{errors.current_password}}</div>
          {{/if}}
        </div>
        <!-- END: Current Password -->
        <!-- START: Auth Password -->
        <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
          <label class="d-block text-left" for="auth_password">{{_ 'New Password'}}</label>
          {{{field
            type="password"
            name="auth_password"
            placeholder="Password"
          }}}
          {{#if errors.auth_password}}
            <div class="help-text d-block text-left">{{errors.auth_password}}</div>
          {{/if}}
        </div>
        <!-- END: Auth Password -->
        <!-- START: Form Submit -->
        <div class="form-group">
          <input type="hidden" name="csrf" value="{{csrf}}" />
          <button
            class="btn btn-block btn-primary"
            data-do="submit-once"
            data-on="click"
            role="submit"
          >{{_ 'Submit'}}</button>
        </div>
        <!-- END: Form Submit -->
      </form>
      <!-- END: Auth Recover Form -->
    </div>
    <!-- END: Panel Body -->
  </div>
  <!-- END: Auth Recover Panel -->
</div>
<!-- END: Auth Recover Page -->
