<!-- START: Auth Login Page -->
<div class="layout-blank layout-auth-form">
  <!-- START: Auth Login Card -->
  <div class="card">
    <!-- START: Card Body -->
    <div class="card-body" >
      <!-- START: Card Title -->
      <h5 class="card-title">{{_ 'Sign In'}}</h5>
      <!-- END: Card Title -->
      <!-- START: Auth Login Form -->
      <form method="post">
        <!-- START: Auth Slug -->
        <div class="form-group{{#if errors.auth_slug}} has-error{{/if}}">
          {{{field
            type="text"
            name="auth_slug"
            placeholder="Username, email address or phone number"
            value=item.auth_slug
          }}}
          {{#if errors.auth_slug}}
            <div class="help-text text-left">{{errors.auth_slug}}</div>
          {{/if}}
        </div>
        <!-- END: Auth Slug -->
        <!-- START: Auth Password -->
        <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
          {{{field
            type="password"
            name="auth_password"
            placeholder="Password"
            value=item.auth_password
          }}}
          {{#if errors.auth_password}}
            <div class="help-text text-left">{{errors.auth_password}}</div>
          {{/if}}
        </div>
        <!-- END: Auth Password -->
        <!-- START: Forgot Password -->
        <div class="form-group text-left">
          <div class="text-right">
            <a title="{{_ 'Verify Account'}}" href="/auth/verify?{{query}}">{{_ 'Verify Account'}}</a>
            &nbsp;&nbsp;&nbsp;
            <a title="{{_ 'Forgot Password'}}" href="/auth/forgot?{{query}}">{{_ 'Forgot Password'}}</a>
          </div>
        </div>
        <!-- END: Forgot Password -->

        {{#if captcha}}
          <!-- START: Captcha -->
          <div class="form-group{{#if errors.captcha}} has-error{{/if}}">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
            {{#if errors.captcha}}
            <span class="help-text">{{errors.captcha}}</span>
            {{/if}}
          </div>
          <!-- END: Captcha -->
        {{/if}}
        <!-- START: Form Submit -->
        <div class="form-group">
          <input type="hidden" name="csrf" value="{{csrf}}" />
          <button
            type="submit"
            class="btn btn-block btn-primary"
            data-do="submit-once"
            data-on="click"
            role="submit"
          >{{_ 'Login'}}</button>
        </div>
        <!-- END: Form Submit -->
      </form>
      <!-- END: Auth Login Form -->

      <!-- START: Login With Facebook Option -->
      <div class="form-group">
        <p class="text-center or-text"><span>{{_ 'or'}}</span></p>
      </div>
      <!-- END: Login With Facebook Option -->
      <!-- START: Signup Option -->
      <div class="form-group">
        <p class="text-muted text-center">
          {{_ "Don't have an account?"}}
          <span class="d-block mt-2">
            <a title="Sign Up" href="/auth/signup/email?{{query}}">
              {{_ 'Sign Up via Email'}}
            </a>
            &nbsp;|&nbsp;
            <a title="Sign Up" href="/auth/signup/phone?{{query}}">
              {{_ 'Sign Up via Phone'}}
            </a>
          </span>
        </p>
      </div>
      <!-- END: Signup Option -->
      <!-- END: Other Options -->
    </div>
    <!-- END: Card Body -->
  </div>
</div>
<!-- END: Auth Login Page -->
