<!-- START: Auth Login Page -->
<div class="layout-auth-form">
  <!-- START: Auth Login Card -->
  <div class="card">
    <!-- START: Card Body -->
    <div class="card-body" >
      <img src="/images/logo/logo.png" />
      <!-- START: Card Title -->
      <h5 class="card-title">{{_ 'Candidate Login'}}</h5>
      <!-- END: Card Title -->
      <!-- START: Auth Login Form -->
      <form method="post">
        <!-- START: Auth Slug -->
        <div class="form-group{{#if errors.auth_slug}} has-error{{/if}}">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class = "fas fa-phone"></i>
              </div>
            </div>
            <input
              autocomplete="phone"
              data-do="mask-field"
              data-format="+63 (\999) 999-9999"
              type="text"
              name="auth_slug"
              placeholder="{{_ 'Mobile Phone No.'}}"
              class="form-control"
              value="{{item.auth_slug}}"
            />
          </div>
          {{#if errors.auth_slug}}
            <span class="help-text">{{errors.auth_slug}}</span>
          {{/if}}
        </div>
        <!-- END: Auth Slug -->
        <!-- START: Auth Password -->
        <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class = "fas fa-lock"></i>
              </div>
            </div>
            <input
              autocomplete="off"
              type="password"
              name="auth_password"
              placeholder="{{_ 'Password'}}"
              class="form-control"
              value=""
            />
          </div>
          {{#if errors.auth_password}}
            <span class="help-text">{{errors.auth_password}}</span>
          {{/if}}
        </div>
        <!-- END: Auth Password -->
        <!-- START: Forgot Password -->
        <div class="form-group text-left">
          <div class="float-right">
            <a title="{{_ 'Verify Account'}}" href="/auth/verify?{{query}}">{{_ 'Verify Account'}}</a>
            &nbsp;&nbsp;&nbsp;
            <a title="{{_ 'Forgot Password'}}" href="/auth/forgot?{{query}}">{{_ 'Forgot Password'}}</a>
          </div>
          <a title="{{_ 'I am an Employer'}}" href="{{#services 'jobayan-employer'}}{{root}}{{/services}}/auth/login">
            {{_ 'I am an Employer'}}
          </a>
        </div>
        <!-- END: Forgot Password -->

        {{#if captcha}}
          <!-- START: Captcha -->
          <div class="form-group{{#if errors.captcha}} has-error{{/if}}">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
            {{#if errors.captcha}}
            <span class="help-text">{{errors.captcha}}</span>
            {{/if}}
          </div>
          <!-- END: Captcha -->
        {{/if}}
        <!-- START: Form Submit -->
        <div class="form-group">
          <input type="hidden" name="csrf" value="{{csrf}}" />
          <button
            type="submit"
            class="btn btn-block btn-primary"
            data-do="submit-once"
            data-on="click"
            role="submit"
          >{{_ 'Login'}}</button>
        </div>
        <!-- END: Form Submit -->
      </form>
      <!-- END: Auth Login Form -->

      <!-- START: Login With Facebook Option -->
      <div class="form-group">
        <p class="text-center or-text"><span>{{_ 'or'}}</span></p>
      </div>
      <!-- END: Login With Facebook Option -->
      <!-- START: Signup Option -->
      <div class="form-group">
        <p class="text-muted text-center">
          {{_ "Don't have an account?"}}
          <a title="Sign Up" class="brand-text" href="/auth/signup?{{query}}">{{_ 'Sign Up Here'}}</a>
        </p>
      </div>
      <!-- END: Signup Option -->
      <!-- END: Other Options -->
    </div>
    <!-- END: Card Body -->
  </div>
</div>
<!-- END: Auth Login Page -->
