<tr>
  <td class="text-right">
    {{#if info.image}}
      <img src="{{info.image}}" width="50" height="50" />
    {{/if}}
  </td>
  <td wrap-3>
    <h5>
      {{#if info.name}}
        {{info.name}}
      {{else}}
        {{name}}
      {{/if}}
    </h5>
    {{#if info.author}}
      {{#if info.website}}
        <a href="{{info.website}}" target="_blank">{{_ 'by %s' info.author}}</a>
      {{else}}
        <em>{{_ 'by %s' info.author}}</em>
      {{/if}}
    {{/if}}
    {{#if info.description}}
      <p class="mt-3">{{info.description}}</p>
    {{/if}}
  </td>
  <td nowrap>{{version}}</td>
  {{#if active}}
    <td class="text-success">
      {{_ 'Enabled'}}
    </td>
  {{else}}
    <td class="text-muted">
      {{_ 'Disabled'}}
    </td>
  {{/if}}
  <td class="freeze-right text-center" nowrap>
    {{#if info.settings}}
      {{#if info.open}}
        <a
          class="mr-3"
          data-do="panel-mobile-open"
          data-on="click"
          data-template="{{info.settings}}"
          href="javascript:void(0)"
          title="{{_ 'Settings'}}"
        >
          <i class="fas fa-fw fa-cog"></i>
        </a>
      {{else}}
        <a class="mr-3" href="{{info.settings}}" title="{{_ 'Settings'}}">
          <i class="fas fa-fw fa-cog"></i>
        </a>
      {{/if}}
    {{/if}}
    {{#if locked}}
      <i class="fas fa-fw fa-lock"></i>
    {{else}}
      {{#if active}}
        <a
          class="text-muted"
          data-do="panel-mobile-open"
          data-on="click"
          data-template="/admin/spa/package/disable/{{@key}}"
          href="javascript:void(0)"
          title="{{_ 'Disable'}}"
        >
          <i class="fas fa-fw fa-times-circle"></i>
        </a>
      {{else}}
        <a
          class="text-success"
          data-do="panel-mobile-open"
          data-on="click"
          data-template="/admin/spa/package/enable/{{@key}}"
          href="javascript:void(0)"
          title="{{_ 'Enable'}}"
        >
          <i class="fas fa-fw fa-check-circle"></i>
        </a>
      {{/if}}
      <a
        class="ml-3 text-danger"
        data-do="panel-mobile-open"
        data-on="click"
        data-template="/admin/spa/package/uninstall/{{@key}}"
        href="javascript:void(0)"
        title="{{_ 'Uninstall'}}"
      >
        <i class="fas fa-fw fa-trash"></i>
      </a>
    {{/if}}
  </td>
</tr>
