<div class="row form-row">
  <input
    aria-haspopup="true"
    aria-expanded="false"
    class="form-control date"
    data-do="date-field"
    name="span[{{name}}][0]"
    type="text"
    value="{{value.0}}"
    placeholder="{{_ 'Start Date'}}"
    {{#each field.attributes}}
      {{@key}}="{{this}}"
    {{/each}}
  />
  <span>&mdash;</span>
  <input
    aria-haspopup="true"
    aria-expanded="false"
    class="form-control date"
    data-do="date-field"
    name="span[{{name}}][1]"
    type="text"
    value="{{value.1}}"
    placeholder="{{_ 'End Date'}}"
    {{#each field.attributes}}
      {{@key}}="{{this}}"
    {{/each}}
  />
</div>
