{{#each relations}}
  <div class="form-group">
    <label class="control-label">{{singular}}</label>
    <div class="form-field">
      <input
        autocomplete="off"
        class="form-control suggestion-label-{{name}} system-form-control"
        name="__{{name}}"
        placeholder="{{_ 'Enter %s' singular}}"
        type="text"
        value="{{suggested}}"
      />
      <input
        class="suggestion-value-{{name}}"
        name="{{primary2}}"
        type="hidden"
        value="{{scope ../item primary2}}"
      />
      <div
        class="input-suggestion d-none"
        data-do="suggestion-field"
        data-format="{{./suggestion}}"
        data-target-label="input.suggestion-label-{{name}}"
        data-target-value="input.suggestion-value-{{name}}"
        data-url="/admin/system/object/{{name}}/search?q={QUERY}&render=false"
        data-value="{{name}}.{{primary}}"
      ></div>
    </div>
  </div>
{{/each}}
{{#each schema.fields}}
  {{#when field.type '!==' 'fieldset'}}
    {{#notin 'role_permissions,role_admin_menu' @key}}
      {{#field name=@key row=../item schema=../schema.name}}
        <div class="form-group form-group-{{type}}">
          <label class="control-label">{{label}}</label>
          <div class="form-field">
            {{{control}}}
          </div>
        </div>
      {{/field}}
    {{/notin}}
  {{/when}}
{{/each}}
