<div
  class="menu-builder p-2"
  data-do="role-menu-builder"
  data-depth="2"
  data-name="role_admin_menu"
  method="post"
>
  <button type="button" class="btn btn-block btn-outline-secondary menu-builder-action-add">
    <i class="fas fa-plus"></i>
    Add Menu Item
  </button>
  <ol class="menu-builder-list">
    {{#if item.role_admin_menu}}
      {{#each item.role_admin_menu}}
        {{> form_menu_item}}
      {{/each}}
    {{/if}}
  </ol>
  <span class="help-text has-error"></span>
</div>
