<tr>
  <td class="table-bulk-checkbox freeze-left">
    <label class="checkbox checkbox-1">
      <input
        type="checkbox"
        name="{{schema.primary}}[]"
        value="{{schema.id}}"
      />
      <span></span>
    </label>
  </td>
  <td class="freeze-left-2">{{schema.id}}</td>
  {{#each relations}}
    <td nowrap>
      <a
        data-do="panel-mobile-open"
        data-on="click"
        data-template="/admin/spa/system/object/{{name}}/detail/{{id}}"
        href="javascript:void(0)"
      >
        {{suggestion}}
      </a>
    </td>
  {{/each}}
  {{#each schema.columns}}
    <td nowrap>{{{format ../schema.name @key ../this 'list'}}}</td>
  {{/each}}
  <td class="freeze-right text-center" nowrap>
    {{#scope ../relation}}
      <a
        data-do="panel-mobile-open"
        data-on="click"
        data-template="/admin/spa/system/object/{{schema.name}}/{{schema.id}}/{{../schema.name}}/detail/{{../schema.id}}"
        href="javascript:void(0)"
      >
        <i class="fas fa-fw fa-eye"></i>
      </a>
    {{else}}
      <a
        data-do="panel-mobile-open"
        data-on="click"
        data-template="/admin/spa/system/object/{{schema.name}}/detail/{{schema.id}}"
        href="javascript:void(0)"
      >
        <i class="fas fa-fw fa-eye"></i>
      </a>
    {{/scope}}
  </td>
</tr>
