<div class="row form-row">
  <input
    aria-haspopup="true"
    aria-expanded="false"
    class="form-control date"
    name="span[{{name}}][0]"
    type="number"
    value="{{value.0}}"
    placeholder="{{_ 'Minimum'}}"
    {{#each field.attributes}}
      {{@key}}="{{this}}"
    {{/each}}
  />
  <span>&mdash;</span>
  <input
    aria-haspopup="true"
    aria-expanded="false"
    class="form-control date"
    name="span[{{name}}][1]"
    type="number"
    value="{{value.1}}"
    placeholder="{{_ 'Maximum'}}"
    {{#each field.attributes}}
      {{@key}}="{{this}}"
    {{/each}}
  />
</div>
