<ul class="nav nav-tabs{{#if relations.length}} gutter-top{{/if}}" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      data-toggle="tab"
      href="#model-{{schema.name}}-info-{{uuid}}"
      role="tab"
    >
      {{_ 'Information'}}
    </a>
  </li>
  {{#if relations.length}}
    {{#each relations}}
      {{#when many '>' 1}}
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#model-{{name}}-relation-{{uuid}}"
            role="tab"
          >
            {{plural}}
          </a>
        </li>
      {{/when}}
    {{/each}}
  {{/if}}
</ul>
