<h4>
  <i class="fab fa-google"></i>
  {{_ 'Captcha Settings'}}
</h4>
<p>
  {{#_ 'See: %s for more information on how to get these tokens.'}}
    <a href="https://www.google.com/recaptcha/intro/v3.html" target="_blank">
      https://www.google.com/recaptcha/intro/v3.html
    </a>
  {{/_}}
</p>
<!-- START: Captcha active -->
<div class="form-group form-group-switch mb-4">
  <label class="control-label">{{_ 'Enable Captcha'}}</label>
  <div class="form-field">
    {{{field
      name="captcha[active]"
      type="switch"
      value=item.captcha.active
    }}}
  </div>
</div>
<!-- END: Captcha active -->
<!-- START: Captcha Key -->
<div class="form-group form-group-text">
  <label class="control-label">{{_ 'Captcha Token'}}</label>
  <div class="form-field">
    {{{field
      name="captcha[token]"
      type="text"
      value=item.captcha.token
    }}}
  </div>
</div>
<!-- END: Captcha token -->
<!-- START: Captcha secret -->
<div class="form-group form-group-text">
  <label class="control-label">{{_ 'Captcha Secret'}}</label>
  <div class="form-field">
    {{{field
      name="captcha[secret]"
      type="text"
      value=item.captcha.secret
    }}}
  </div>
</div>
<!-- END: Captcha secret -->
