<h4>
  <i class="fab fa-google"></i>
  {{_ 'Google Settings'}}
</h4>
<p>
  {{#_ 'See: %s for more information on how to get these tokens.'}}
    <a href="https://developers.google.com/identity/protocols/OAuth2" target="_blank">
      https://developers.google.com/identity/protocols/OAuth2
    </a>
  {{/_}}
</p>
<!-- START: Google active -->
<div class="form-group form-group-switch">
  <label class="control-label">{{_ 'Enable Google'}}</label>
  <div class="form-field">
    {{{field
      name="service[google][active]"
      type="switch"
      value=item.service.google.active
    }}}
  </div>
</div>
<!-- END: Google active -->
<!-- START: Google Key -->
<div class="form-group form-group-text{{#if errors.service.google.token}} has-error{{/if}}">
  <label class="control-label">{{_ 'Google Token'}}</label>
  <div class="form-field">
    {{{field
      name="service[google][token]"
      type="text"
      value=item.service.google.token
    }}}
    {{#if errors.service.google.token}}
      <span class="help-text">{{errors.service.google.token}}</span>
    {{/if}}
  </div>
</div>
<!-- END: Google token -->
<!-- START: Google secret -->
<div class="form-group form-group-text{{#if errors.service.google.secret}} has-error{{/if}}">
  <label class="control-label">{{_ 'Google Secret'}}</label>
  <div class="form-field">
    {{{field
      name="service[google][secret]"
      type="text"
      value=item.service.google.secret
    }}}
    {{#if errors.service.google.secret}}
      <span class="help-text">{{errors.service.google.secret}}</span>
    {{/if}}
  </div>
</div>
<!-- END: Google secret -->
