<header class="panel-head">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button
          class="sidebar-show btn btn-primary mr-2"
          data-do="remove-class"
          data-name="no-sidebar-left"
          data-on="click"
          data-selector="section.layout-panel"
          type="button"
        >
          <i class="fas fa-bars"></i>
        </button>
      </li>
    </ul>
    <span class="navbar-text text-light">
      {{_ 'Welcome!'}}
    </span>
    <ul class="navbar-nav">
    </ul>
  </nav>
</header>
